body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
        "header header header"
        "aside main content"
        "footer footer footer";

}

header {
    grid-area: header;
    background-color: lightblue;
    text-align: center;
}

#content {
    grid-area: content;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}



body > * {
    border: 4px solid #000;
}